.wrapper { 
  width: 100vw;
  height: 100vh;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1000% 1000%;
  margin: 0;
  padding: 0;

  -webkit-animation: rainbow 5s ease infinite;
  -z-animation: rainbow 5s ease infinite;
  -o-animation: rainbow 5s ease infinite;
    animation: rainbow 5s ease infinite;}

  @-webkit-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-moz-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-o-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @keyframes rainbow { 
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
}

.bandit {
  color: white;
  background-image: url(../img/topkek.jpg);
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: Comic Sans MS, Comic Sans, cursive;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  z-index: 1000;
}

#dembel {
  font-size: 42px;
  z-index: 1000;
  background: #e81d1d;
}

.ball {
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  overflow: visible;
  white-space: nowrap;
  z-index: 500;
}

.meme {
  position: fixed;
  z-index: 100;
}

.meme1 {
  top: 7%;
  left: 40%;
}

.meme1 img {
  width: 40%;
}

.meme2 {
  top: 37%;
  left: 12%;
}

.meme2 img {
  width: 45%;
}

.meme3 {
  top: 67%;
  left: 70%;
}

.meme3 img {
  width: 90%;
}

.meme4 {
  top: 70%;
  left: 0;
}

.meme4 img {
  width: 50%;
}

.meme5 {
  top: 20%;
  left: 70%;
}

.meme5 img {
  width: 50%;
}

